#delicious {
  /*box-sizing: border-box;*/
}

.theLeft {
  padding-top: 0.5em;
  font-family: cursive;
  font-size: 1.5em;
  line-height: 0em;
}

.subHead {
  font-size: 0.5em;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}
