#delicious {
  border-bottom: 15px solid lightgray;
  padding-bottom: 15px;
}

body {
  box-sizing: border-box;
  width: 85%;
  margin: auto;
}

.theLeft {
  font-family: 'Leckerli One', cursive;
  padding-top: 0.5em;
  font-size: 1.5em;
  line-height: 0em;
}

.pizzaBox {
  font-family: Ariel, sans-serif;
  padding-top: 40px;
}

.subHead {
  font-size: 0.5em;
  color: gray;
  font-family: sans-serif;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.pizzaBox h1 {
  font-size: 3em;
  line-height: 0;
}

.graySmall {
  color: lightgray;
  font-size: small;
}
